<!DOCTYPE html>
<html lang="en" data-theme="forest" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Unhaeng Mottu</title>
</head>
<body class="min-h-screen flex flex-col">
<header>
    <nav class="navbar bg-base-300 shadow-sm z-50">
        <div class="flex-1">
            <a th:href="@{/}" class="btn btn-ghost text-xl">Unhaeng Mottu</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <details>
                        <summary>🌎</summary>
                        <ul class="bg-base-100 rounded-t-none p-2 z-50">
                            <li><a href="?lang=pt_BR">🇧🇷</a></li>
                            <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img
                                alt="avatar do usuário"
                                th:src="${user.avatarUrl}" />
                    </div>
                </div>
                <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between" th:text="${user.name}"></a>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="flex-1 px-8 py-8">
    <form class="space-y-4" method="post" th:object="${funcionario}" th:action="*{funcionarioId} != null ? @{/funcionarios/{id}(id=*{funcionarioId})} : @{/funcionarios}">
        <input type="hidden" name="_method" value="put" th:if="*{funcionarioId} != null" />
        <input type="hidden" th:field="*{funcionarioId}" />
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-lg ml-10" th:text="#{funcionario.fullname}"></legend>
            <input th:field="*{nomeCompleto}" th:errorclass="input-error" type="text" placeholder="Lins Vasconcelos da Silva" class="input input-primary input-lg w-full px-10 py-3" />
            <p class="label text-error " th:errors="*{nomeCompleto}"></p>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-lg ml-10" th:text="#{funcionario.cpf}"></legend>
            <input th:field="*{cpf}" th:errorclass="input-error" type="text" placeholder="12345678901" class="input input-primary input-lg w-full px-10 py-3" />
            <p class="label text-error " th:errors="*{cpf}"></p>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-lg ml-10" th:text="#{funcionario.cargo}"></legend>
            <select th:field="*{cargo}" class="select select-bordered w-full select-primary select-lg">
                <option value="" disabled selected th:text="#{select.choose}"></option>
                <option th:each="c : ${T(br.com.unhaeng.gestao_mottu.model.CargoEnum).values()}"
                        th:value="${c}"
                        th:text="#{${'cargo.' + c.name()}}">
                </option>
            </select>
            <p class="label text-error" th:errors="*{cargo}"></p>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-lg ml-10" th:text="#{funcionario.branch}"></legend>
            <select th:field="*{filial.filialId}" class="select select-bordered w-full select-primary select-lg">
                <option value="" disabled
                        th:selected="*{filial} == null"
                        th:text="#{select.choose}">
                </option>

                <option th:each="fi : ${filiais}" th:value="${fi.filialId}" th:text="${fi.nome + ' — ' + fi.cnpj}"></option>
            </select>
        </fieldset>


        <div class="space-x-4">
            <a href="/funcionarios" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button class="btn btn-primary" th:text="#{save}"></button>
        </div>
    </form>
</main>
<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
    <aside>
        <p>Copyright © 2025 - All right reserved by Unhaeng</p>
    </aside>
</footer>
</body>
</html>